Source: apache-couchdb
Maintainer: Till Klampaeckel <till@php.net>
Build-Depends: erlang-dev, erlang-crypto,
 erlang-inets, erlang-xmerl, erlang-eunit, libicu-dev,
 xulrunner-1.9.2-dev | xulrunner-1.9.2 | libmozjs-dev,
 libcurl4-openssl-dev,
 autoconf, automake, debhelper (>= 7.2.11), lsb-release
Homepage: http://couchdb.apache.org
Section: database
Priority: optional
Standards-Version: 3.8.4

Package: apache-couchdb
Architecture: any
Conflicts: couchdb
Provides: couchdb, couchdb-bin
Replaces: couchdb, couchdb-bin
Depends: ${misc:Depends}, ${shlibs:Depends},
 ${erlang-base:Depends},  ${erlang-crypto:Depends}, ${erlang-eunit:Depends},
 ${erlang-inets:Depends}, ${erlang-xmerl:Depends}, ${erlang-abi:Depends},
 erlang,
 adduser, libjs-jquery, lsb-base,
 ${xulrunner:Depends}, xulrunner
Description: This package provides Apache CouchDB
